
<footer class="footer">
    <div class="footer__logo-box">
        <img src="https://s3.eu-central-1.amazonaws.com/mbsxs3/Website/images/Logo+MBS+HQ%408x.png" alt="logo" class="footer__logo--1">
        <img src="https://s3.eu-central-1.amazonaws.com/mbsxs3/Website/images/logo5.png" alt="logo" class="footer__logo--2">
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a href="https://www.mannheim-business-school.com" class="footer__link">Company</a></li>
                    <li class="footer__item"><a href="mailto:ebner@mannheim-business-school.com" class="footer__link">Contact</a></li>
                    <li class="footer__item"><a href="/impressum" class="footer__link">Imprint</a></li>
                    <li class="footer__item"><a href="/" class="footer__link">Privacy Policy</a></li>
                    
                </ul>
            </div>
        </div>
        <div class="col-1-of-2">
            <p class="footer__copyright">
                Copyright &copy; by Mannheim Business School, 2018.
            </p>
        </div>
    </div>
</footer>


</body>
  </html>