<% include partials/header %>
<% include partials/nav %>

    <header class="header--2">
      <div class="header__logo-box">
          <img class="header__logo" src="https://s3.eu-central-1.amazonaws.com/mbsxs3/Website/images/Logo+MBS+HQ%408x.png" alt="BWL Logo">
      </div>
      <div class="header__logo-box--2">
          <img class="header__logo--2" src="https://s3.eu-central-1.amazonaws.com/mbsxs3/Website/images/logo5.png" alt="BWL Logo">
      </div>
      <div class="header__text-box">
        <h1 class="heading-primary">
          <span class="heading-primary--main">Online Courses</span>
          <span class="heading-primary--sub">Mannheim Business School</span>
        </h1>
        
        <a href="#section-about" class="btn btn--white btn--animated">Discover</a>
      </div>
    </header>
    
    <section class="section-courses">
        
        <div class="courses_fundamentals" id="fundamentals">
           <div class="u-center-text u-margin-bottom-medium">
                <h2 class="heading-secondary">
                      Fundamental Courses
                </h2>
           </div>
           
           <div class="course-card">
               
               <div class="course-card__left">
                   <!--&nbsp;-->
                   <img src="https://s3.eu-central-1.amazonaws.com/mbsxs3/AW101/Grafik/AC101_Cover_V1.png" alt="photo 1" class="course-card__img">
                   
               </div>
               
               <div class="course-card__right">
                   <div class="course-card__title">
                       Academic Writing 101
                   </div>
                   <div class="course-card__text">
                       This online course will help you with your first steps in academic writing at the Mannheim Business School. In a series of online presentations and tutorials, you will discover what academic work and writing is all about.
                   </div>
                   <a href="https://www.mbsx.education/courses/course-v1:MBSx+AW101+2017_18/about" target="_blank" class="btn btn--blue u-margin-top-big">
                       Visit course
                   </a>
                   <img src="http://canvas.fiu.edu/_assets/images/logo-canvas-login.png" alt="Thumbnail" class="course-card__thumbnail">
                   
               </div>
              
           </div>
           
           <div class="u-margin-top-small">
               &nbsp;
           </div>
           
           <div class="course-card">
               
               <div class="course-card__left">
                   <!--&nbsp;-->
                   <img src="https://s3.eu-central-1.amazonaws.com/mbsxs3/CS101/Grafik/CS101_edX_Cover.jpg" alt="photo 1" class="course-card__img">
                   
               </div>
               
               <div class="course-card__right">
                   <div class="course-card__title">
                       Case Studies 101
                   </div>
                   <div class="course-card__text">
                       Case studies are a core teaching tool in nearly all MBAs around the globe. They allow students to step inside the shoes of company executives wrestling with complex business problems. Within a short timeframe, these students have to find vital clues amidst a vast array of information, and connect the facts to a working solution, always facing uncertainty. With such a challenging task ahead, knowing the fundamentals inside out is an absolute must. That’s what this course is all about
                   </div>
                   <a href="https://www.mbsx.education/courses/course-v1:MBSx+CS101+2018/about" target="_blank" class="btn btn--blue u-margin-top-big">
                       Visit course
                   </a>
                   <img src="http://canvas.fiu.edu/_assets/images/logo-canvas-login.png" alt="Thumbnail" class="course-card__thumbnail">
                   
               </div>
              
           </div>
           
           <div class="u-margin-top-small">
               &nbsp;
           </div>
           
           <div class="course-card">
               
               <div class="course-card__left">
                   <!--&nbsp;-->
                   <img src="https://images.unsplash.com/photo-1515180711443-f8685c6d6a74?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=af2cb334cc0aa6cf0ba21ff3a3064393&auto=format&fit=crop&w=1350&q=80" alt="photo 1" class="course-card__img">
                   
               </div>
               
               <div class="course-card__right">
                   <div class="course-card__title">
                       Financial Accounting 101
                   </div>
                   <div class="course-card__text">
                       What is 'Financial Accounting'
Financial accounting is the process of recording, summarizing and reporting the myriad of transactions resulting from business operations over a period of time. These transactions are summarized in the preparation of financial statements, including the balance sheet, income statement and cash flow statement, that encapsulate the company's operating performance over a specified period.
                   </div>
                   <a href="" class="btn btn--inactive u-margin-top-big">
                       Coming August 2018
                   </a>
                   <img src="http://canvas.fiu.edu/_assets/images/logo-canvas-login.png" alt="Thumbnail" class="course-card__thumbnail">
                   
               </div>
              
           </div>
           
           
           
        </div>
        
        <div class="u-margin-top-medium">
               &nbsp;
           </div>
        
        <div class="courses__specialization" id="specialization">
            <div class="u-center-text u-margin-bottom-medium">
                <h2 class="heading-secondary">
                      Specialization Courses
                </h2>
            </div>
            
            <div class="course-card">
               
               <div class="course-card__left">
                   <!--&nbsp;-->
                   <img src="https://images.unsplash.com/photo-1519955501004-97097a787c5a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6dcecab90f955690b5b978f1b960146e&auto=format&fit=crop&w=1379&q=80" alt="photo 1" class="course-card__img">
                   
               </div>
               
               <div class="course-card__right">
                   <div class="course-card__title">
                       Managerial Accounting
                   </div>
                   <div class="course-card__text">
                       Managerial accounting is the process of identifying, measuring, analyzing, interpreting and communicating information for the pursuit of an organization's goals. This branch of accounting is also known as cost accounting. The key difference between managerial and financial accounting is managerial accounting information is aimed at helping managers within the organization make decisions, while financial accounting is aimed at providing information to parties outside the organization.

                   </div>
                   <a href="" class="btn btn--inactive u-margin-top-big">
                       Coming January 2019
                   </a>
                   <img src="http://canvas.fiu.edu/_assets/images/logo-canvas-login.png" alt="Thumbnail" class="course-card__thumbnail">
                   
               </div>
              
           </div>
            
        </div>
        
        <div class="u-margin-top-medium">
               &nbsp;
           </div>
        
        <div class="courses__open" id="open">
            <div class="u-center-text u-margin-bottom-medium">
                <h2 class="heading-secondary">
                      Open Online Courses
                </h2>
            </div>
            <div class="course-card">
               
               <div class="course-card__left">
                   <!--&nbsp;-->
                   <img src="https://images.unsplash.com/photo-1523006480666-4debbb34a28d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f7d7f542982cac33971ff38a0d13bed&auto=format&fit=crop&w=1347&q=80" alt="photo 1" class="course-card__img">
                   
               </div>
               
               <div class="course-card__right">
                   <div class="course-card__title">
                       Value-Based Management
                   </div>
                   <div class="course-card__text">
                       Value-based management is a management approach that puts a company’s value at the center of all management decisions and activities. Following a broad perspective on value creation, this course does not focus on conventional performance metrics. Rather, our goal is to provide a holistic view and some additional knowledge on what drives value creation.
                   </div>
                   <a href="https://www.mbsx.education/courses/course-v1:MBSx+VBM+2016_17/about" target="_blank" class="btn btn--blue u-margin-top-big">
                       Visit course
                   </a>
                   <img src="https://www.edx.org/sites/default/files/edx-logo-registered.png" alt="Thumbnail" class="course-card__thumbnail--edX">
                   
               </div>
              
           </div>
           
           <div class="u-margin-top-medium">
               &nbsp;
           </div>
           
           <div class="course-card">
               
               <div class="course-card__left">
                   <!--&nbsp;-->
                   <img src="https://images.unsplash.com/photo-1525943887023-baee104c9e6e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1f94eb3d20fc36967d74640b2a82e138&auto=format&fit=crop&w=1431&q=80" alt="photo 1" class="course-card__img">
                   
               </div>
               
               <div class="course-card__right">
                   <div class="course-card__title">
                       Corporate Volunteering
                   </div>
                   <div class="course-card__text">
                       Corporate volunteering (also called employee volunteering) is a really simple and effective way for businesses to contribute to the community. Companies give their employees an allowance of paid time off annually, which they use to volunteer at a charity of their choice. This enables staff to make a difference in as little as an afternoon, and has incredible potential for community impact.
                   </div>
                   <a href="" class="btn btn--inactive u-margin-top-big">
                       Coming September 2018
                   </a>
                   <img src="https://www.edx.org/sites/default/files/edx-logo-registered.png" alt="Thumbnail" class="course-card__thumbnail--edX">
                   
               </div>
              
           </div>
        </div>
        
    </section>


<% include partials/footer %>