<!DOCTYPE html>
<html lang="de">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>University Mannheim | Online Fair</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="/stylesheets/landing.css" rel="stylesheet">
    <link href="icon-font.css" rel="stylesheet">
    
  </head>
  
  <header class="header--2">
      <div class="header__logo-box">
              <img class="header__logo" src="https://s3.eu-central-1.amazonaws.com/mbsxs3/Website/images/Logo+MBS+HQ%408x.png" alt="BWL Logo">
          </div>
          <div class="header__text-box">
            <h1 class="heading-primary">
              <span class="heading-primary--main">Discover</span>
              <span class="heading-primary--sub">our programs</span>
            </h1>
            
            <a href="#programs" class="btn btn--white btn--animated">See all</a>
          </div>
  </header>
  
  <body>
      <main>
          <section class="section-tours" id="programs">
              <div class="u-center-text u-margin-bottom-big">
                 <h2 class="heading-secondary">
                  Our programs
                 </h2> 
              </div>
              <div class="row">
                  <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture-1">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span-1">
                                    Fundamental courses
                                </span>
                                
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>Fundamental topics</li>
                                    <li>1 hour</li>
                                    <li>Academic Staff</li>
                                    <li>MBA-Students</li>
                                    <li>Certificate included</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-1">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only u-margin-bottom-medium">Available at</p>
                                    <!--<p class="card__price-value">$53</p>-->
                                    <img src="http://canvas.fiu.edu/_assets/images/logo-canvas-login.png" class="card__price-image--1">
                                </div>
                                <a href="https://mannheim.instructure.com" target="_blank" class="btn btn--white">Go to Canvas</a>
                            </div>
                        </div>
                        
                    </div>
                  </div>
                  <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture-2">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span-2">
                                    Specialization courses
                                </span>
                                
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>Advanced topics</li>
                                    <li>2-3 hours</li>
                                    <li>Academic Staff<br>Business Experts</li>
                                    <li>MBA-Students</li>
                                    <li>Certificate included</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-2">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only u-margin-bottom-medium">Available at</p>
                                    <!--<p class="card__price-value">$53</p>-->
                                    <img src="http://canvas.fiu.edu/_assets/images/logo-canvas-login.png" class="card__price-image--1">
                                </div>
                                <a href="https://mannheim.instructure.com" target="_blank" class="btn btn--white">Go to Canvas</a>
                            </div>
                        </div>
                        
                    </div>
                  </div>
                  <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture-3">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span-3">
                                    Open Online Courses
                                </span>
                                
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>General Topics</li>
                                    <li>1-2 hours</li>
                                    <li>Academic Staff <br>Business Experts</li>
                                    <li>Open Access</li>
                                    <li>Paid certificate available</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-3">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only u-margin-bottom-medium">Available at</p>
                                    <!--<p class="card__price-value">$53</p>-->
                                    <img src="https://www.edx.org/sites/default/files/edx-logo-registered.png" class="card__price-image--1">
                                </div>
                                <a href="https://www.mbsx.education/" target="_blank" class="btn btn--white">Go to edX</a>
                            </div>
                        </div>
                        
                    </div>
                  </div>
            </div>
            
            
            <div class="u-center-text u-margin-top-huge">
                <!--<a href="#" class="btn btn--blue">See course list</a>-->
            </div>
              
          </section>
          
          <section class="section-courses-header">
                <div class="section-courses-header__text-box">
                    <h1 class="heading-primary">
                      <span class="heading-primary--main">Course List</span>
                      <span class="heading-primary--sub"></span>
                    </h1>
                    
                    <a href="#section-about" class="btn btn--white btn--animated">See all courses</a>
                </div>
                
              
              
              
          </section>
          
          <section class="section-courses">
              
          </section>
          
      </main>
  </body>
  
</html>